<%= render 'spree/admin/shared/sub_menu/configuration' %>

<% content_for :page_title do %>
  <%= Spree.t('dandify.admin.title.edit') %>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: {target: @style} %>

<%= form_for @style, url: admin_stylesheets_path do |f| %>
  <fieldset data-hook="edit_style">
    <%= render partial: 'form', locals: {f: f} %>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'ok', { class: 'btn-success' } %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_stylesheets_path, icon: 'remove' %>
    </div>
  </fieldset>
<% end %>
