<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('dandify.admin.title.show') %>
<% end %>

<% content_for :page_actions do %>
<li>
  <% if @style.persisted? %>
    <%= link_to_with_icon 'edit', Spree.t('dandify.admin.buttons.edit'), edit_admin_stylesheets_path, class: 'button' %>
  <% else %>
    <%= link_to_with_icon 'plus', Spree.t('dandify.admin.buttons.new'), new_admin_stylesheets_path, class: 'button' %>
  <% end %>
</li>
<% end %>

<p class="notice"><%= notice %></p>

<% if @style.persisted? %>
  <%= render partial: 'versions', locals: { versions: @style.versions } %>
<% else %>
  <div class="no-objects-found">
    <%= Spree.t('dandify.admin.no_resource_found') %>,
    <%= link_to Spree.t('dandify.admin.create_one'), new_admin_stylesheets_path %>!
  </div>
<% end %>
