<% content_for :page_title do %>
  <%= Spree.t('styles') %>
<% end %>
<%= link_to 'Create style', new_admin_stylesheet_path(@style) %>
<% if @style.persisted? %>
 <pre><%= @style.style_raw %></pre>
  <% if @style.versions.any? %>
    <h1>Revision history</h1>
    <ul>
    <% @style.versions.each do |version| %>
      <li class="revision">
      <%= version.event %> by 
      <%= version.whodunnit %> at 
      <%= version.created_at %>
      </li>
    <% end %>
    </ul>
  <% end %>
<% else %>
  No custom style yet! Let's get dandy!
<% end %>

