<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('dandify.show.title') %>
<% end %>

<p class="notice"><%= notice %></p>

<% if @style.persisted? %>
  <%= link_to Spree.t('dandify.show.button.edit'), edit_admin_stylesheets_path(@style) %>
  <pre><%= @style.style_raw %></pre>
  <%= render partial: 'versions', locals: {versions: @style.versions} %>
<% else %>
  <%= link_to Spree.t('dandify.show.button.new'), new_admin_stylesheets_path(@style) %>
  <%= Spree.t('dandify.show.none') %>
<% end %>
